body {
	background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	background-size: 1300px 700px;
}
.header {
	font-family: 'Open Sans Condensed', sans-serif;
	position: fixed;
	float: right;
	width: 100%;
	margin-top: 0px;
	padding-top: 0px;
}
li {
	color: black;
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
}
.toolbar li a:hover {
	color: black;
	font-weight: bold;
}
.space {
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
.second {
	padding-top: 50px;
}
.hyphen div li ul li a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
.hyphen {
	margin-top: 190px;
	padding-left: 475px;
}
.apostrophe {
	padding-top: 40px;
}
.script {
	width: 115px;
	height: 35px;
	float: left;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 0px;
	margin-top: 0px;
}






.navbar-default {
  background-color: #ffffff;
  border-color: #cac7ca;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #cac7ca;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #cac7ca;
}
.navbar-default .navbar-toggle {
  border-color: #cac7ca;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #cac7ca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #cac7ca;
  }
}

