body {
	background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}
.header {
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
}
li {
	color: black;
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
}
.toolbar li a:hover {
	color: black;
	font-weight: bold;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
.hyphen div li ul li a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
.hyphen {
	margin-top: 80%;
}
a:hover {
	font-weight: bold;
}
.last {
	padding-bottom: 10%;
}