body {
	background: url(lakefill.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	-webkit-padding-start: 0px;
}
.header {
	padding-bottom: 30px;
	margin-right: 10px;
	padding-top: 10px;
	font-family:나눔고딕코딩, NanumGothicCoding, 'Nanum Gothic Coding';
}
#language {
  color: black;
  font-family: Arial;
  font-size: 10px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 50px;
}
#language1 {
	color: black;
	font-family: Arial;
	font-size: 10px;
	float: right;
	padding-bottom: 50px;
}
#name {
	margin-top: 14%;
	width: 100%;
	padding: 0px;
	margin-bottom:0px;
	
}
div:nth-child(3) {
	margin: 0px;
	padding: 0px;
}
#pic {
	padding: 0px;
	margin: 0px;
	background-color: white;
}

#name p {
	padding: 0px;
	margin:0px;
}
img {
	width: 29rem;
	height: 12rem;
	left:50%;
}
li {
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}
#menu {
	font-size: 12px;
}