body {
	background-color: #FFFFFF;
	overflow: scroll;
}
.header {
	font-family: 'Open Sans Condensed', sans-serif;
	float: right;
	width: 100%;
}
li {
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
}
.space {
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}
.script {
	width: 115px;
	height: 35px;
	float: left;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 0px;
	margin-top: 0px;
}
#item {
	padding-left: 250px;
	padding-right: 250px;
	margin-top: 0px;
	padding-top: 50px;
}
.top {
	padding-top: 0px;
	margin-top: 120px;
	font-size: 25px;
}
.bike {
	font-size: 19px;
	padding-top: 200px;
	border-right: 1px black solid;
}
.strip {
	font-size: 30px;
	background-color: #EBDDE2;
	padding-left: 5%;
	margin-right: 0%;
	margin-top: 5%;
}
.first {	
	font-size: 30px;
	background-color: #EBDDE2;
	padding-left: 5%;
	margin-right: 9%;
	padding-top: 5%;
}
.line {
	font-size: 19px;
	padding-top: 10px;
	padding-right: 5%;
}
.line a:hover {
	text-decoration: underline;
}
.last {
	margin-bottom: 10%;
}